@using PagedList.Mvc;
@model PineLabsShoppingPortal.Models.HomeViewModel
@using PineLabsShoppingPortal.Properties
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="ps-breadcrumb">
        <div class="ps-container">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li>Shop</li>
            </ul>
        </div>
    </div>
    <div class="ps-page--shop">
        <div class="ps-container">
            <div class="ps-shop-banner">
                <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on"><a href="#"><img src="~/img/slider/shop-default/home_cate1_1.jpg" alt=""></a><a href="#"><img src="~/img/slider/shop-default/home_cate1_3.jpg" alt=""></a></div>
            </div>


            <div class="ps-layout--shop">
                <div class="ps-layout__left">
                    @*<aside class="widget widget_shop">
                            <h4 class="widget-title">Categories</h4>
                            <ul class="ps-list--categories">
                                @foreach (var cat in Model.CategoryList)
                                {
                                    <li class="current-menu-item menu-item-has-children">
                                        <a href="@Url.Action("GetProductListView","Home", new { page = 1, catId = cat.ApiCatId })">@cat.Name</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                        @if (cat.Children != null && cat.Children.Count > 0)
                                        {
                                        <ul class="sub-menu">
                                            @foreach (var subCat in cat.Children)
                                                {
                                                    var hasChild = subCat.Children == null || subCat.Children.Count == 0 ? string.Empty : "menu-item-has-children";
                                                    var hasAngle = subCat.Children == null || subCat.Children.Count == 0 ? string.Empty : "<i class='fa fa-angle-down'></i>";
                                                <li class="current-menu-item @hasChild">
                                                    <a href="@Url.Action("GetProductListView","Home", new { page = 1, catId = subCat.ApiCatId })">@subCat.Name</a><span class="sub-toggle"></span>@hasAngle
                                                    @if (subCat.Children != null && subCat.Children.Count > 0)
                                                        {
                                                            foreach (var child in subCat.Children)
                                                            {
                                                        <ul class="sub-menu">
                                                            <li class="current-menu-item "><a href="@Url.Action("GetProductListView","Home", new { page = 1, catId = child.ApiCatId })">@child.Name</a>                                            </li>
                                                        </ul>
                                                            }
                                                        }
                                                </li>
                                                }
                                        </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        </aside>*@
                    <aside class="widget widget_shop">
                        <h4 class="widget-title">BY CATEGORIES</h4>
                        @*<form class="ps-form--widget-search" action="http://nouthemes.net/html/martfury/do_action" method="get">
                                <input class="form-control" type="text" placeholder="">
                                <button><i class="icon-magnifier"></i></button>
                            </form>*@
                        <figure class="ps-custom-scrollbar" data-height="250">
                            @foreach (var cat in Model.CategoryList)
                            {

                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="brand-@cat.Id" name="brand">
                                    <label for="brand-@cat.Id">@cat.Name</label>
                                </div>

                                //if (subCat.Children != null && subCat.Children.Count > 0)
                                //{
                                //    foreach (var child in subCat.Children)
                                //    {

                                //    }
                                //}

                            }

                            
                            @*<div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="brand-1" name="brand">
                                    <label for="brand-1">Adidas (3)</label>
                                </div>
                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="brand-2" name="brand">
                                    <label for="brand-2">Amcrest (1)</label>
                                </div>
                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="brand-3" name="brand">
                                    <label for="brand-3">Apple (2)</label>
                                </div>
                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="brand-4" name="brand">
                                    <label for="brand-4">Asus (19)</label>
                                </div>
                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="brand-5" name="brand">
                                    <label for="brand-5">Baxtex (20)</label>
                                </div>
                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="brand-6" name="brand">
                                    <label for="brand-6">Adidas (11)</label>
                                </div>
                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="brand-7" name="brand">
                                    <label for="brand-7">Casio (9)</label>
                                </div>
                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="brand-8" name="brand">
                                    <label for="brand-8">Electrolux (0)</label>
                                </div>
                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="brand-9" name="brand">
                                    <label for="brand-9">Gallaxy (0)</label>
                                </div>
                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="brand-10" name="brand">
                                    <label for="brand-10">Samsung (0)</label>
                                </div>
                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="brand-11" name="brand">
                                    <label for="brand-11">Sony (0)</label>
                                </div>*@
                        </figure>
                        @*<figure>
                                <h4 class="widget-title">By Price</h4>
                                <div class="ps-slider" data-default-min="13" data-default-max="1300" data-max="1311" data-step="100" data-unit="Rs. "></div>
                                <p class="ps-slider__meta">Price:<span class="ps-slider__value ps-slider__min"></span>-<span class="ps-slider__value ps-slider__max"></span></p>
                            </figure>
                            <figure>
                                <h4 class="widget-title">By Price</h4>
                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="review-1" name="review">
                                    <label for="review-1"><span><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i></span><small>(13)</small></label>
                                </div>
                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="review-2" name="review">
                                    <label for="review-2"><span><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star"></i></span><small>(13)</small></label>
                                </div>
                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="review-3" name="review">
                                    <label for="review-3"><span><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><small>(5)</small></label>
                                </div>
                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="review-4" name="review">
                                    <label for="review-4"><span><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><small>(5)</small></label>
                                </div>
                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="review-5" name="review">
                                    <label for="review-5"><span><i class="fa fa-star rate"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><small>(1)</small></label>
                                </div>
                            </figure>
                            <figure>
                                <h4 class="widget-title">By Color</h4>
                                <div class="ps-checkbox ps-checkbox--color color-1 ps-checkbox--inline">
                                    <input class="form-control" type="checkbox" id="color-1" name="size">
                                    <label for="color-1"></label>
                                </div>
                                <div class="ps-checkbox ps-checkbox--color color-2 ps-checkbox--inline">
                                    <input class="form-control" type="checkbox" id="color-2" name="size">
                                    <label for="color-2"></label>
                                </div>
                                <div class="ps-checkbox ps-checkbox--color color-3 ps-checkbox--inline">
                                    <input class="form-control" type="checkbox" id="color-3" name="size">
                                    <label for="color-3"></label>
                                </div>
                                <div class="ps-checkbox ps-checkbox--color color-4 ps-checkbox--inline">
                                    <input class="form-control" type="checkbox" id="color-4" name="size">
                                    <label for="color-4"></label>
                                </div>
                                <div class="ps-checkbox ps-checkbox--color color-5 ps-checkbox--inline">
                                    <input class="form-control" type="checkbox" id="color-5" name="size">
                                    <label for="color-5"></label>
                                </div>
                                <div class="ps-checkbox ps-checkbox--color color-6 ps-checkbox--inline">
                                    <input class="form-control" type="checkbox" id="color-6" name="size">
                                    <label for="color-6"></label>
                                </div>
                                <div class="ps-checkbox ps-checkbox--color color-7 ps-checkbox--inline">
                                    <input class="form-control" type="checkbox" id="color-7" name="size">
                                    <label for="color-7"></label>
                                </div>
                                <div class="ps-checkbox ps-checkbox--color color-8 ps-checkbox--inline">
                                    <input class="form-control" type="checkbox" id="color-8" name="size">
                                    <label for="color-8"></label>
                                </div>
                            </figure>*@
                        @*<figure class="sizes">
                                <h4 class="widget-title">BY SIZE</h4><a href="#">L</a><a href="#">M</a><a href="#">S</a><a href="#">XL</a>
                            </figure>*@
                    </aside>
                </div>
                <div class="ps-layout__right">
                    BY BRANDS
                    @if (Model.PageProductList.ProductList == null || Model.PageProductList.ProductList.Count == 0)
                    {
                        <div> No Products Available</div>
                    }
                    else
                    {
                        <div class="ps-shopping ps-tab-root">
                            <div class="ps-shopping__header">
                                <p><strong> @Model.TotalRecordCount</strong> Products found</p>
                                <div class="ps-shopping__actions">
                                    <select class="ps-select" data-placeholder="Sort Items">
                                        <option>Sort by latest</option>
                                        <option>Sort by popularity</option>
                                        <option>Sort by average rating</option>
                                        <option>Sort by price: low to high</option>
                                        <option>Sort by price: high to low</option>
                                    </select>
                                    <div class="ps-shopping__view">
                                        <p>View</p>
                                        <ul class="ps-tab-list">
                                            <li class="active"><a href="#tab-1"><i class="icon-grid"></i></a></li>
                                            <li><a href="#tab-2"><i class="icon-list4"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-tabs">

                                <div class="ps-tab active" id="tab-1">
                                    <div class="ps-shopping-product">
                                        <div class="row">
                                            @foreach (var prod in Model.PageProductList.ProductList)
                                            {
                                                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6 ">
                                                    <div class="ps-product">
                                                        <div class="ps-product__thumbnail">
                                                            <a href="@Url.Action("GetProductDetailPage", "Home", new { Sku = prod.sku })">

                                                                @{ var imgValue = prod.@base;
                                                                    if (!string.IsNullOrEmpty(imgValue))
                                                                        imgValue = prod.mobile;
                                                                    else if (!string.IsNullOrEmpty(prod.mobile))

                                                                        imgValue = prod.mobile;

                                                                    else if (!string.IsNullOrEmpty(prod.small))

                                                                        imgValue = prod.small;

                                                                    else if (!string.IsNullOrEmpty(prod.thumbnail))

                                                                        imgValue = prod.thumbnail;
                                                                    else
                                                                        imgValue = "~/img/notavailable.jpg";

                                                                }

                                                                <img src='@imgValue' height="60" width="40" alt="">
                                                            </a>
                                                            <ul class="ps-product__actions">
                                                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="icon-bag2"></i></a></li>
                                                                <li><a href="@Url.Action("GetProductDetailPage", "Home", new { Sku = prod.sku })" data-toggle="tooltip" data-placement="top" title="Read More"><i class="icon-eye"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="ps-product__container">
                                                            <a class="ps-product__vendor" href="@Url.Action("GetProductDetailPage", "Home", new { Sku = prod.sku })">@prod.name</a>
                                                            <div class="ps-product__content">
                                                                <a class="ps-product__title" href="@Url.Action("GetProductDetailPage", "Home", new { Sku = prod.sku})">@prod.name</a>
                                                                @*<p class="ps-product__price sale">Rs. 800.00 <br> <del>Rs. 1000.00 </del> <br> <small class="text-dark">DP 200</small> | <small class="text-dark">BV 100</small> </p>*@
                                                            </div>
                                                            @*<div class="ps-product__content hover">
                                                                    <a class="ps-product__title" href="product-default.html">Discount Tadka Products</a>
                                                                    <p class="ps-product__price sale">Rs. 800.00 <br> <del>Rs. 1000.00 </del> <br> <small class="text-dark">DP 200</small> | <small class="text-dark">BV 100</small> </p>
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                                    }
                                        </div>
                                    </div>
                                    @*<div class="ps-pagination">
                                        <center>
                                            <span class="page-link">Page@(Model.PageProductList.pagerCount.PageCount < Model.PageProductList.pagerCount.PageNumber ? 0 : Model.PageProductList.pagerCount.PageNumber) of @Model.PageProductList.pagerCount.PageCount</span>


                                            @Html.PagedListPager(Model.PageProductList.pagerCount, page => Url.Action("GetProductListView", "Home", new { page, SearchString = Model.PageProductList.SearchString, SortBy = Model.PageProductList.sortby, Order = Model.PageProductList.order, catId = ViewBag.CatId, BrandId = ViewBag.brand, root = ViewBag.ParentId }),

    new PagedListRenderOptions
    {
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        MaximumPageNumbersToDisplay = 3

    }
    )
                                        </center>
                                    </div>*@
                                </div>
                                <div class="ps-tab" id="tab-2">
                                    <div class="ps-shopping-product">
@foreach (var prod in Model.PageProductList.ProductList)
{
                                        <div class="ps-product ps-product--wide">
                                            <div class="ps-product__thumbnail"><a href="@Url.Action("GetProductDetailPage", "Home", new { Sku = prod.sku })">

    @{ var imgValue = prod.@base;
        if (!string.IsNullOrEmpty(imgValue))
            imgValue = prod.mobile;
        else if (!string.IsNullOrEmpty(prod.mobile))

            imgValue = prod.mobile;

        else if (!string.IsNullOrEmpty(prod.small))

            imgValue = prod.small;

        else if (!string.IsNullOrEmpty(prod.thumbnail))

            imgValue = prod.thumbnail;
        else
            imgValue = "~/img/notavailable.jpg";

    }

    <img src='@imgValue' height="60" width="40" alt="">
</a>                                      </div>
                                            <div class="ps-product__container">
                                                <div class="ps-product__content">
                                                    <a class="ps-product__vendor" href="@Url.Action("GetProductDetailPage", "Home", new { Sku = prod.sku })">@prod.name</a>
                                                    <div class="ps-product__content">
                                                        <a class="ps-product__title" href="@Url.Action("GetProductDetailPage", "Home", new { Sku = prod.sku })">@prod.name</a>
                                                        @*<p class="ps-product__price sale">Rs. 800.00 <br> <del>Rs. 1000.00 </del> <br> <small class="text-dark">DP 200</small> | <small class="text-dark">BV 100</small> </p>*@
                                                    </div>
                                                </div>
                                                @*<div class="ps-product__shopping">
                                                    <p class="ps-product__price">Rs. 1310.00</p><a class="ps-btn" href="#">Add to cart</a>
                                                    <ul class="ps-product__actions">
                                                        <li><a href="#"><i class="icon-heart"></i> Wishlist</a></li>
                                                        <li><a href="#"><i class="icon-chart-bars"></i> Compare</a></li>
                                                    </ul>
                                                </div>*@
                                            </div>
                                        </div>
        }
                                    </div>
                                    <div class="ps-pagination">
                                        <ul class="pagination">
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">Next Page<i class="icon-chevron-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                                    }
                </div>
            </div>
            <div class="modal" id="shop-filter-lastest" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="list-group"><a class="list-group-item list-group-item-action" href="#">Sort by</a><a class="list-group-item list-group-item-action" href="#">Sort by average rating</a><a class="list-group-item list-group-item-action" href="#">Sort by latest</a><a class="list-group-item list-group-item-action" href="#">Sort by price: low to high</a><a class="list-group-item list-group-item-action" href="#">Sort by price: high to low</a><a class="list-group-item list-group-item-action text-center" href="#" data-dismiss="modal"><strong>Close</strong></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ps-filter--sidebar">
        <div class="ps-filter__header">
            <h3>Filter Products</h3><a class="ps-btn--close ps-btn--no-boder" href="#"></a>
        </div>
        <div class="ps-filter__content">
            <aside class="widget widget_shop">
                <h4 class="widget-title">Categories</h4>
                <ul class="ps-list--categories">
                    <li class="current-menu-item menu-item-has-children">
                        <a href="shop-default.html">Clothing &amp; Apparel</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li class="current-menu-item "><a href="shop-default.html">Womens</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Mens</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Bags</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Sunglasses</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Accessories</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Kid's Fashion</a>                            </li>
                        </ul>
                    </li>
                    <li class="current-menu-item menu-item-has-children">
                        <a href="shop-default.html">Garden &amp; Kitchen</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li class="current-menu-item "><a href="shop-default.html">Cookware</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Decoration</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Furniture</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Garden Tools</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Home Improvement</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Powers And Hand Tools</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Utensil &amp; Gadget</a>                            </li>
                        </ul>
                    </li>
                    <li class="current-menu-item menu-item-has-children">
                        <a href="shop-default.html">Consumer Electrics</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li class="current-menu-item menu-item-has-children">
                                <a href="shop-default.html">Air Conditioners</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu">
                                    <li class="current-menu-item "><a href="shop-default.html">Accessories</a>                                    </li>
                                    <li class="current-menu-item "><a href="shop-default.html">Type Hanging Cell</a>                                    </li>
                                    <li class="current-menu-item "><a href="shop-default.html">Type Hanging Wall</a>                                    </li>
                                </ul>
                            </li>
                            <li class="current-menu-item menu-item-has-children">
                                <a href="shop-default.html">Audios &amp; Theaters</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu">
                                    <li class="current-menu-item "><a href="shop-default.html">Headphone</a>                                    </li>
                                    <li class="current-menu-item "><a href="shop-default.html">Home Theater System</a>                                    </li>
                                    <li class="current-menu-item "><a href="shop-default.html">Speakers</a>                                    </li>
                                </ul>
                            </li>
                            <li class="current-menu-item menu-item-has-children">
                                <a href="shop-default.html">Car Electronics</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu">
                                    <li class="current-menu-item "><a href="shop-default.html">Audio &amp; Video</a>                                    </li>
                                    <li class="current-menu-item "><a href="shop-default.html">Car Security</a>                                    </li>
                                    <li class="current-menu-item "><a href="shop-default.html">Radar Detector</a>                                    </li>
                                    <li class="current-menu-item "><a href="shop-default.html">Vehicle GPS</a>                                    </li>
                                </ul>
                            </li>
                            <li class="current-menu-item menu-item-has-children">
                                <a href="shop-default.html">Office Electronics</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu">
                                    <li class="current-menu-item "><a href="shop-default.html">Printers</a>                                    </li>
                                    <li class="current-menu-item "><a href="shop-default.html">Projectors</a>                                    </li>
                                    <li class="current-menu-item "><a href="shop-default.html">Scanners</a>                                    </li>
                                    <li class="current-menu-item "><a href="shop-default.html">Store &amp; Business</a>                                    </li>
                                </ul>
                            </li>
                            <li class="current-menu-item menu-item-has-children">
                                <a href="shop-default.html">TV Televisions</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu">
                                    <li class="current-menu-item "><a href="shop-default.html">4K Ultra HD TVs</a>                                    </li>
                                    <li class="current-menu-item "><a href="shop-default.html">LED TVs</a>                                    </li>
                                    <li class="current-menu-item "><a href="shop-default.html">OLED TVs</a>                                    </li>
                                </ul>
                            </li>
                            <li class="current-menu-item menu-item-has-children">
                                <a href="shop-default.html">Washing Machines</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu">
                                    <li class="current-menu-item "><a href="shop-default.html">Type Drying Clothes</a>                                    </li>
                                    <li class="current-menu-item "><a href="shop-default.html">Type Horizontal</a>                                    </li>
                                    <li class="current-menu-item "><a href="shop-default.html">Type Vertical</a>                                    </li>
                                </ul>
                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Refrigerators</a>                            </li>
                        </ul>
                    </li>
                    <li class="current-menu-item menu-item-has-children">
                        <a href="shop-default.html">Health &amp; Beauty</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li class="current-menu-item "><a href="shop-default.html">Equipments</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Hair Care</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Perfumer</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Skin Care</a>                            </li>
                        </ul>
                    </li>
                    <li class="current-menu-item menu-item-has-children">
                        <a href="shop-default.html">Computers &amp; Technologies</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li class="current-menu-item "><a href="shop-default.html">Desktop PC</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Laptop</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Smartphones</a>                            </li>
                        </ul>
                    </li>
                    <li class="current-menu-item menu-item-has-children">
                        <a href="shop-default.html">Jewelry &amp; Watches</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li class="current-menu-item "><a href="shop-default.html">Gemstone Jewelry</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Men's Watches</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Women's Watches</a>                            </li>
                        </ul>
                    </li>
                    <li class="current-menu-item menu-item-has-children">
                        <a href="shop-default.html">Phones &amp; Accessories</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li class="current-menu-item "><a href="shop-default.html">Iphone 8</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Iphone X</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Sam Sung Note 8</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Sam Sung S8</a>                            </li>
                        </ul>
                    </li>
                    <li class="current-menu-item menu-item-has-children">
                        <a href="shop-default.html">Sport &amp; Outdoor</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li class="current-menu-item "><a href="shop-default.html">Freezer Burn</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Fridge Cooler</a>                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Wine Cabinets</a>                            </li>
                        </ul>
                    </li>
                    <li class="current-menu-item "><a href="shop-default.html">Babies &amp; Moms</a>                    </li>
                    <li class="current-menu-item "><a href="shop-default.html">Books &amp; Office</a>                    </li>
                    <li class="current-menu-item "><a href="shop-default.html">Cars &amp; Motocycles</a>                    </li>
                </ul>
            </aside>
            <aside class="widget widget_shop">
                <h4 class="widget-title">BY Category</h4>
                <form class="ps-form--widget-search" action="http://nouthemes.net/html/martfury/do_action" method="get">
                    <input class="form-control" type="text" placeholder="">
                    <button><i class="icon-magnifier"></i></button>
                </form>
                <figure class="ps-custom-scrollbar" data-height="250">
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="brand-1" name="brand">
                        <label for="brand-1">Adidas (3)</label>
                    </div>
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="brand-2" name="brand">
                        <label for="brand-2">Amcrest (1)</label>
                    </div>
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="brand-3" name="brand">
                        <label for="brand-3">Apple (2)</label>
                    </div>
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="brand-4" name="brand">
                        <label for="brand-4">Asus (19)</label>
                    </div>
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="brand-5" name="brand">
                        <label for="brand-5">Baxtex (20)</label>
                    </div>
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="brand-6" name="brand">
                        <label for="brand-6">Adidas (11)</label>
                    </div>
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="brand-7" name="brand">
                        <label for="brand-7">Casio (9)</label>
                    </div>
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="brand-8" name="brand">
                        <label for="brand-8">Electrolux (0)</label>
                    </div>
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="brand-9" name="brand">
                        <label for="brand-9">Gallaxy (0)</label>
                    </div>
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="brand-10" name="brand">
                        <label for="brand-10">Samsung (0)</label>
                    </div>
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="brand-11" name="brand">
                        <label for="brand-11">Sony (0)</label>
                    </div>
                </figure>
                <figure>
                    <h4 class="widget-title">By Price</h4>
                    <div class="ps-slider" data-default-min="13" data-default-max="1300" data-max="1311" data-step="100" data-unit="Rs. "></div>
                    <p class="ps-slider__meta">Price:<span class="ps-slider__value ps-slider__min"></span>-<span class="ps-slider__value ps-slider__max"></span></p>
                </figure>
                <figure>
                    <h4 class="widget-title">By Price</h4>
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="review-1" name="review">
                        <label for="review-1"><span><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i></span><small>(13)</small></label>
                    </div>
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="review-2" name="review">
                        <label for="review-2"><span><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star"></i></span><small>(13)</small></label>
                    </div>
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="review-3" name="review">
                        <label for="review-3"><span><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><small>(5)</small></label>
                    </div>
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="review-4" name="review">
                        <label for="review-4"><span><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><small>(5)</small></label>
                    </div>
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="review-5" name="review">
                        <label for="review-5"><span><i class="fa fa-star rate"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><small>(1)</small></label>
                    </div>
                </figure>
                <figure>
                    <h4 class="widget-title">By Color</h4>
                    <div class="ps-checkbox ps-checkbox--color color-1 ps-checkbox--inline">
                        <input class="form-control" type="checkbox" id="color-1" name="size">
                        <label for="color-1"></label>
                    </div>
                    <div class="ps-checkbox ps-checkbox--color color-2 ps-checkbox--inline">
                        <input class="form-control" type="checkbox" id="color-2" name="size">
                        <label for="color-2"></label>
                    </div>
                    <div class="ps-checkbox ps-checkbox--color color-3 ps-checkbox--inline">
                        <input class="form-control" type="checkbox" id="color-3" name="size">
                        <label for="color-3"></label>
                    </div>
                    <div class="ps-checkbox ps-checkbox--color color-4 ps-checkbox--inline">
                        <input class="form-control" type="checkbox" id="color-4" name="size">
                        <label for="color-4"></label>
                    </div>
                    <div class="ps-checkbox ps-checkbox--color color-5 ps-checkbox--inline">
                        <input class="form-control" type="checkbox" id="color-5" name="size">
                        <label for="color-5"></label>
                    </div>
                </figure>
                @*<figure class="sizes">
                        <h4 class="widget-title">BY SIZE</h4><a href="#">L</a><a href="#">M</a><a href="#">S</a><a href="#">XL</a>
                    </figure>*@
            </aside>
        </div>
    </div>
    <div id="back2top"><i class="pe-7s-angle-up"></i></div>
    <div class="ps-site-overlay"></div>
    <div id="loader-wrapper">
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="ps-search" id="site-search">
        <a class="ps-btn--close" href="#"></a>
        <div class="ps-search__content">
            <form class="ps-form--primary-search" action="http://nouthemes.net/html/martfury/do_action" method="post">
                <input class="form-control" type="text" placeholder="Search for...">
                <button><i class="aroma-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
</body>
